bottle==0.13.2
cachetools==5.5.1
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
clr_loader==0.2.7.post0
colorama==0.4.6
filelock==3.17.0
fsspec==2024.12.0
huggingface-hub==0.27.1
idna==3.10
packaging==24.2
pefile==2024.8.26
pillow==10.4.0
proxy_tools==0.1.0
py2exe==0.13.0.2
pycparser==2.22
pythonnet==3.0.5
pywebview==5.3.2
PyYAML==6.0.2
requests==2.32.3
tkhtmlview==0.3.1
tqdm==4.67.1
typing_extensions==4.12.2
urllib3==2.3.0
